@charset "UTF-8";
.tab {
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    border: 1px solid #ccc;
    display: inline-block;
}

.active {
    background-color: #ddd;
    font-weight: bold;
}

.bookModal {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid #333;
    z-index: 1000;
    }

.modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    }

dialog {
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
    backdrop-filter: blur(2px); /* 背景を少しぼかす */
}

dialog h2 {
    margin-top: 0;
    color: #333;
}
    
