<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>プロジェクト詳細</title>
</head>
<body>
	<h1>プロジェクト詳細</h1>
	<h1 th:text="${workspace.project.projectName}"></h1>
	
	<hr>
	
	<h2>本一覧</h2>
	<ul>
		<li th:each="book : ${workspace.books}">
			<span th:text="${book.bookTitle}"></span>
		</li>
	</ul>
	
	<hr>
	
	<p>本件数：<span th:text="${workspace.bookCount}"></span></p>
	<p>メモ件数：<span th:text="${workspace.MemoCount}"></span></p>
	<p><span th:text="${#temporals.format(workspace.updatedAt, 'yyyy/MM/dd HH:mm')}"></span></p>
	<hr>
	
	<h2>メモ一覧</h2>
	<ul>
	 	<li th:each="memo : ${workspace.memos}">
    	<span th:text="${memo.memoText}"></span>
  		</li>
</body>
</html>